$padding: 10px;

$site-background-color: #0d0d0d;
$site-color: #e8eaed;
$site-color--main: #6100FF;

@font-face {
  font-family: "website font";
  font-style: normal;
  src: url("/assets/fonts/Qwerty-mono-regular.otf") format("opentype");
}

@font-face {
  font-family: "website font";
  font-style: italic;
  src: url("/assets/fonts/Qwerty-mono-italic-regular.otf") format("opentype");
}

html, body {
  margin: 0;
  padding: 0;
  background: $site-background-color;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
}

body {
  font-family: "website font", Helvetica, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
