html, body {
  margin: 0;
  padding: 0;
  background: $site-background-color;
  color: $site-color;
}

body {
  font-family: "website font", Helvetica, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
